.team-member {
  margin-top: 30px;
  text-align: center;
}

.team-member .thumb-container {
  margin-bottom: 20px;
}

.team-member .thumb-container img {
  width: 100%;
  overflow: hidden;
}

.team-member .down-content {
  padding: 20px;
  border: 1px solid #eee;
  border-top: none;
}

.team-member .down-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1a6692;
  margin-bottom: 5px;
}

.team-member .down-content span {
  display: block;
  font-size: 15px;
  color: #f33f3f;
  margin-bottom: 15px;
}

.an-hien {
    background-color: #a20000;
    color: white;
    margin-bottom: 30px;
}

.tb {
    width: 100%;
}

.tb1 {
    margin-top: 40px;
    width: 20%;
    text-align: center;
}